/*
 * fffonts custom styles
 * author: 		ruesato
 * version: 	0.7
*/





/* =Structure -------------------------------- */
body {
	font-size: 16px;
	line-height: 24px;
}

.jumbotron {
	padding: 40px 0 60px;
}

/* =Links ------------------------------------ */
a {
	color: #333;
}

a:hover {
	color: #000;
}

.light a {
	border-color: #fff;
	color: #fff;
}

/* =Lists ------------------------------------ */
ul {
	margin-left: 0;
}

li {
	list-style: none;
}

/* =Decoration ------------------------------- */
.alfa-one {
	font-family: 'Alfa Slab One', cursive;
}

.bree-serif {
	font-family: 'Bree Serif', serif;
}

.cuprum {
	font-family: 'Cuprum', sans-serif;
}

.eb-garamond {
	font-family: 'EB Garamond', serif;
}

	p.eb-garamond {
		font-size: 18px;
	}



.lato {
	font-family: 'Lato', sans-serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

	p.open-sans {
		font-size: 15px;
	}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.oxygen {
	font-family: 'Oxygen', sans-serif;
}

	p.oxygen {
		font-size: 15px;
	}

.pt-sans {
	font-family: 'PT Sans', sans-serif;
}
.pt-serif {
	font-family: 'PT Serif', serif;
}

.quattrocento {
	font-family: 'Quattrocento', serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

	p.roboto {
		font-size: 14px;
	}

.source-sans {
	font-family: 'Source Sans Pro', sans-serif;
}

.titillium {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

	p.ubuntu {
		font-size: 15px;
	}

.yanone {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.license {
	border-left: 1px solid #333;
	font-weight: 300;
	margin-left: 10px;
	padding-left: 10px;
}

.blue .license,
.coral .license,
.green .license,
.slate .license {
	border-color: #fff;
}

.center {
	text-align: center;
}


/* =Colors ----------------------------------- */
.blue {
	background-color: cornflowerblue;
	color: #fff;
}
	.blue a,
	.coral a,
	.green a,
	.slate a {
		color: #fff;
	}

.coral {
	background-color: coral;
	color: #fff;
}

.gold {
	background-color: gold;
}

.gray {
	background-color: lightsteelblue;
}

.green {
	background-color: forestgreen;
	color: #fff;
}

.lightgray {
	background-color: gainsboro;
}

.lightgreen {
	background-color: lawngreen;
}

.orange {
	background-color: ;
}

.slate {
	background-color: slategray;
	color: #fff;
}

.smoke {
	background-color: whitesmoke;
}



